# Source - https://stackoverflow.com/a/69269142
# Posted by Aincvy, modified by community. See post 'Timeline' for change history
# Retrieved 2026-03-25, License - CC BY-SA 4.0

CompileFlags: # Tweak the parse settings, example directory given to show format
  Add:
    - "-I/home/hakiergrzonzo/.pebble-sdk/SDKs/current/sdk-core/pebble/flint/include"
    - "-I/home/hakiergrzonzo/Desktop/programy/pebbenote/pebbenote/build/include"
    - "-I/home/hakiergrzonzo/Desktop/programy/pebbenote/pebbenote/build/basalt"

